// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(black, rgb(4, 0, 27));
}
h2 {
  font-size: 4rem;
}
.alex {
  text-align: center;
  color: rgb(126, 95, 95);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -90%;
  left: 39%;
  overflow: hidden;
}
.align-issa {
  display: flex;
  justify-content: space-evenly;
}
.a-name {
  animation-name: alec;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
.a-is {
  animation-name: is;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.a-a {
  animation-name: aa;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.poes {
  animation-name: pos;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  font-size: 5rem;
}

.scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;
  position: relative;

  .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(0.5turn);
    }

    .card-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      -webkit-box-reflect: below 0
        linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    }
  }
}
.card-face-front {
  background: url(../images/lol-back.jpg);
  background-size: cover;
  background-position: center;
}

.card-face-back {
  transform: rotateY(0.5turn);
}
.card-one {
  background: url(../images/thresh-noon.jpg);
  background-size: cover;
  background-position: center;
}
.card-two {
  background: url(../images/xerath.jpg);
  background-size: cover;
  background-position: center;
}

.card-three {
  background: url(../images/nunu.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes alec {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes is {
  0% {
    transform: translateX(-150px);

    visibility: hidden;
  }
  50% {
    transform: translateX(0px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes aa {
  0% {
    transform: translateX(150px);
    opacity: 0;
    visibility: hidden;
  }
  50% {
    transform: translateX(-30px);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes pos {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
  }
}
